body {
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
.img {
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
    max-width: 940px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid yellow;
    margin: 0 auto;
}
.dark-blue-background {
    background-color: #293449;
    width: 100%;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; 
    max-width: 940px;
    width: 100%;
    position: relative;
}
.dark-blue-background a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
}
.blue-background {
    background-color: #32425c;
    width: 100%
}
.logo {
    box-sizing: border-box;
    position: absolute;

    top: 0;
    left: 0;
    width: 220px;
    height: 47px;
    padding: 14px 55px;
    align-content: center;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
} 
.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}
.logo:active {
    background-color: #ba2732;
}
.search {
    position: relative;
}
.search::before {
    content: "";
    position: absolute;

    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    background-image: url("./../img/icon-search.png");
    background-repeat: no-repeat;
    opacity: 0.5;
}
.search input {
    display: block;
    box-sizing: border-box;
    width: 270px;
    height: 42px;
    padding-left: 40px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    background-color: #293449;
    border: 0px solid #293449;
}
.search input::placeholder {
    color: #ffffff;
}
.search:focus::before {
    background-image: url("./../img/icon-search-red.png");
    background-repeat: no-repeat;
    opacity: 1;
}
.search input:focus {
    background-color: #ffffff;
    color: #000000;   
}
.search input:hover,
.function:hover,
.function:focus {
    background-color: #212a3a;
}
.function:hover::before,
.function:focus::before,
.search:hover::before {
    opacity: 1;
}
.function {
    box-sizing: border-box;
    width: 150px;
    height: 42px;
}
.bookmarks::before {
    content: "";
    position: absolute;

    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("./../img/icon-bookmark.png");
    background-repeat: no-repeat;
    opacity: 0.5;
}
.card::before {
    content: "";
    position: absolute;

    top: 12px;
    left: 17px;
    width: 15px;
    height: 15px;
    background-image: url("./../img/cart-icon.png");
    background-repeat: no-repeat;
    opacity: 0.5;
}
.function:active {
    background-color: #161d29;
    opacity: 0.5;
} 
.card,
.bookmarks {
    position: relative;
    padding: 12px 20px;
    background: #293449;
    padding-left: 45px;
}
.offer {
    display: block;
    padding: 12px 20px;
    background-color: #63a63e;
}
.offer:hover,
.offer:focus {
    background-color: #5fbb2d;
}
.offer:active {
    background-color: #518534;
    opacity: 0.5;
}
.heder-icons {
    opacity: 0.3;
}
.grey-background {
    background-color: #f4f7f9;
    width:  100%;
    padding-bottom: 60px; 
}
.header-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    width: 100%;
    padding: 45px 0;
}
.header-information h1 {
    display: block;
    width: 210px;
    padding: 0 0 0 50px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 23px; 
    font-style: italic;
    font-weight: 400;
    color: #ee3643;
    margin: 0;
}
.phone {
    position: relative;
    margin: 0;
    padding: 9px 50px 9px 70px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px; 
    color: #ee3643;

    background-color: #f3f7f9;
    border: 3px solid #ffffff;
    text-align: center;
}
.phone::before {
    content: "";
    position: absolute;

    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    background-image: url("./../img/icon-phone.svg");
    background-repeat: no-repeat;
}
.heder-address {
    margin: 0;
    padding: 0 9px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px; 
    font-style: normal;
    color: #32425c;
}
.user-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 280px;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0;
}
.user-navigation a {
    display: block;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;

    color: #000000;
    background: #ffffff;
    padding: 13px 25px;
    margin: 0;
}
.user-navigation .login {
    position: relative;
    padding-left: 46px;
}
.login::before {
    content: "";
    position: absolute;

    top: 14px;
    left: 14px;
    width: 20px;
    height: 17px;
    background-image: url("./../img/icon-login.png");
    background-repeat: no-repeat;    
}
.user-navigation a:hover,
.user-navigation a:focus {
    color: #ee3643;
}
.login:hover::before,
.login:focus::before {
    background-image: url("./../img/icon-login-hover.png");
    background-repeat: no-repeat;
}
.user-navigation a:active {
    color: #c5c5c5;
}
.login:active::before {
    background-image: url("./../img/icon-login.png");
    background-repeat: no-repeat;
}
.main-menu {
    list-style: none;   
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-wrap: wrap;
    width: 940px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    background-color: #32425c;
    justify-content: space-between;
}
.site-navigation {
    margin: 0;
    padding: 0;
}
.main-menu a {
    display: block;
    padding: 21px 30px;

    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    color: #ffffff;
}
/*----------------------------------------------------*/
.wrapper {
    display: flex;
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: space-between;
}
.about {
    width: 520px;
}
.contacts {
    width: 300px;
}
.about h2,
.contacts h2 {
    font-family: "Cuprum" "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.about p,
.contacts p {
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;   
}
.about ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.about-list li {
    display: flex;
    align-items: center;
    font-family: "Cuprum" "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: #000000; 
    padding: 10px 0;
}
.about-list li:before {
    content: "";
    width: 25px;
    height: 2px;
    background: #ee3643;
    margin-right: 10px;
}
.about-us {
    width: 220px;
    height: 24px;
}
.write-us {
    width: 300px;
    height: 24px;
}
.site-buttons {
    text-align: center;
    background-color: #ee3643;
    padding-top: 12px;
}   
.site-buttons a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
} 
.map,
.write,
.add-form {
    display: none;
}
/*---------------------------------------------*/
.footer-menu,
.footer-list,
.socials,
.user-functions,
.breadcrumbs,
.product-items {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu {
    display: flex;
    padding: 40px 0;
    position: relative;
    justify-content: flex-end;
}
.footer-menu li:not(:first-child) {
    margin-left: 60px;
}
.logo-item {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    width: 220px;
    height: 68px;
    top: 0;
    left: 0;
}
.logo-item .logo {
    width: 111px;
    height: 30px;
    padding-top: 22px;
}
.footer-menu a,
.footer-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}
.footer-menu li:hover,
.footer-list li:hover,
.footer-menu li:focus,
.footer-list li:focus  {
    text-decoration: underline;
}
.footer-menu a:active,
.footer-list a:active {
    opacity: 0.5;
}
.footer-address {
    display: flex;  
    width: 340px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    padding: 0;
    margin: 0;
}
.footer-list a {
    color: #ffd180;
}
.copyright,
.feedback,
.developed {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;    
}
.feedback a,
.developed a {
    color: #ffd180;    
}
.footer-middle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.footer-list {
    display: flex;
    flex-wrap: wrap;
}
.footer-list li {
    padding-left: 60px;
}
.copyright {
    margin: 0;
}
.socials {
    display: flex;
    width: 135px;
}
.socials li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 100%;
}
.socials li:hover,
.socials li:focus,
.socials .li:active {
    background-color: #ee3643;
}
.feedback,
.developed {    
    width: 140px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px; 
}

/*catalog---------------------------------------------*/
.user-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-functions {
    display: flex;
    justify-content: space-around;
    width: 220px;   
    align-items: center;
}
.user-functions li:nth-child(2) {
    width: 5px;
    height: 5px;
    background-color: #32425c;
    border-radius: 100%;
}
.user-functions a {
    color: #32425c;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
}
.inner-card {
    background: #ee3643;
}
.breadcrumbs {
    display: flex;
    margin: 20px 0;
}
.breadcrumbs a,
.breadcrumbs li {
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}
.breadcrumbs li:not(:first-child):before {
    display: inline-block;
    content: "";
    background:  url("./../img/icon-right-small.svg") no-repeat center / contain;
    width: 8px;
    height: 12px;
    margin: 0 10px;
}
.catalog-header {
    width: 880px;
    font-family: "Cuprum" "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    background-color: #f2f6f8;
    text-transform: uppercase;
    padding: 30px;
    margin-bottom: 20px;
}
.catalog {
    display: flex;
    justify-content: space-between;
}
.filter-form legend {
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}
.filter-form label {
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-transform: uppercase;
}
.filters {
    width: 220px;
}
.filters-name {
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    background-color: #f7f3ec;
    text-transform: uppercase;
    padding: 10px 15px;
}
.show-button {
    width: 140px;
    height: 38px;
    color: #000000;
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    text-transform: uppercase;
}
.producer,
.power {
    list-style: none;
}
.products {
    width: 700px;
}
.item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
  
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  
    border: 1px solid #e5e5e5;
}
.item .new {
    position: absolute;
    top: -1px;
    right: -1px;
  
    width: 60px;
    height: 60px;
  
    text-indent: -1000px;
    overflow: hidden;
    z-index: 4;
}
.item .new-flag {
    background: url("./../img/new-flag.png") no-repeat 0 0;
}

.item .actions {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 218px;
    height: 86px;
    padding: 44px 0;
    background-color: #ffffff;
    z-index: 3;
}
.item .actions {
    display: none;
}
.item:hover .actions {
    display: block;
}
.item .buy-button,
.item .bookmark-button {
    font-family: "Cuprum" "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.item .bookmark-button {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 7px 0;

    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;
}
.item .buy-button {
    display: block;
    width: 123px;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 6px 0;

    color: #ffffff;
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
}
.item .image {
    width: 218px;
    height: 170px;
}
image img {
    width: 100%;
}
.product-items .item-name {
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;

    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.product-items .discount,
.item .price {
    font-family: "PT Sans" "Arial", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.product-items .discount {   
    text-decoration: line-through;
    color: #999999;
    min-height: 20px;
    margin-bottom: 10px;
}
.item .price {
    background-color: #ee3643;
    color: #ffffff;
    border-radius: 3px;
    position: relative;
    
    width: 80px;
    min-height: 20px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
}
.item .price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
  
    width: 0;
    height: 0;
    border: 20px solid #ffffff;
    border-left-color: #ee3643;
}
.product-items .item:nth-child(3n) {
    margin-right: 0;
}
.power-radio {
    margin-bottom: 70px;
}
.product-items {
    display: flex;
    flex-wrap: wrap;
}
.product-items li {
    width: 218px;
}
.row {
    margin-left: -20px;
}


